body 
    font-family: 'ygq'
    background-size: 30% 30%
    background-image: url("https://gd-hbimg.huaban.com/1a8e8dbb7633e779d3b11a31559e3a6b1e620e3efadda-99stov_fw658")

.sidebar
    background-color:#efefef
    background-size: cover
    background-image:url("https://gd-hbimg.huaban.com/1a8e8dbb7633e779d3b11a31559e3a6b1e620e3efadda-99stov_fw658")

.navbar{
    background-color:#343434

}